{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body id="{% block page_id %}{% endblock %}">
    
<header>

    {% if user.is_authenticated %}
        <a href="{% url "accounts:logout" %}">ログアウト</a>
        <a href="{% url "contentapp:mypage" username=request.user.username %}">マイページ</a>
    {% else %}
        <a href="{% url "accounts:login" %}">ログイン</a>
        <a href="{% url "accounts:signup" %}">サインアップ</a>
    {% endif %}
    <a href="{% url "typingapp:index" %}">ホーム</a>
    <a href="{% url "contentapp:create_content" %}">文章作成</a>
    
    {% if user.is_authenticated %}
        <div id="login-user">ログイン中：{{ user.username }}</div>
    {% endif %}

</header>

<div id="content">
    {% block contents %}{% endblock %}
</div>

<footer>
    
    {% if user.is_authenticated %}
        <a href="{% url "accounts:logout" %}">ログアウト</a>
        <a href="{% url "contentapp:mypage" username=request.user.username %}">マイページ</a>
    {% else %}
        <a href="{% url "accounts:login" %}">ログイン</a>
        <a href="{% url "accounts:signup" %}">サインアップ</a>
    {% endif %}
    <a href="{% url "typingapp:index" %}">ホーム</a>
    <a href="{% url "contentapp:create_content" %}">文章作成</a>

</footer>

</body>
</html>