{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body id="{% block page_id %}{% endblock %}">
    
<header>

    {% if user.is_authenticated %}
        <div id="login-user">{{ user.username }}</div>
    {% endif %}

    <form method="get" action="{% url "contentapp:typing_list" %}">
        {% csrf_token %}
        <input type="text" name="search" placeholder="検索ワードを入力...">
        <button type="submit">検索</button>
    </form>
    <a href="{% url "typingapp:index" %}">トップ</a>
    <a href="{% url "contentapp:create_content" %}">文章作成</a>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button type="submit">ログアウト</button>
        </form>
        <a href="{% url "contentapp:mypage" username=request.user.username %}">マイページ</a>
    {% else %}
        <a href="{% url "accounts:login" %}">ログイン</a>
        <a href="{% url "accounts:signup" %}">サインアップ</a>
    {% endif %}
    
</header>

<div id="content">
    {% block contents %}{% endblock %}
</div>

<footer>
    &copy; 2025 tsumuro
</footer>

</body>
</html>