{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body id="{% block page_id %}{% endblock %}">
    
<header>

    <a href="{% url "accounts:login" %}">ログイン</a>
    <a href="{% url "accounts:signup" %}">サインアップ</a>
    <a href="{% url "typingapp:index" %}">ホーム</a>
    
    {% if user.is_authenticated %}
        <a href="{% url "accounts:logout" %}">ログアウト</a>
        <div id="login-user">ログイン中：{{ user.username }}</div>
    {% endif %}
    
</header>

    {% block contents %}{% endblock %}

</body>
</html>