{% extends "base.html" %}

{% load static %}

{% block title %}index{% endblock  %}

{% block contents %}

    <div id="title">タイトル：{{ content_object.title }}</div>

    
    <div id="target-sentence">{{ content_object.sentence }}</div>

    <button id="start-button">スタート</button>
    <div id="timer">タイム： 00:00</div>
    <textarea id="typing-input" disabled></textarea>

    <form id="typing_form" method="POST" action="{% url 'typingapp:typing' pk=content_object.pk %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="save_history">
        <input type="hidden" id="typing_time" name="typing_time">
    </form>



    <script type="module" src="{% static 'js/main.js' %}"></script>

    {% for content in content_list %}
        <li><a href="{% url "typingapp:typing" content.pk %}">{{ content.title }}</a></li>
    {% endfor %}

{% endblock  %}