{% extends "base.html" %}

{% block title %}create_content{% endblock %}

{% block contents %}

    <h1>文章作成</h1>
    <form method="post">
        {% csrf_token %}

        <label for="title">タイトル</label>
        <input type="text" id="title" name="title" required>

        <label for="sentence">文章内容</label>
        <textarea id="sentence" name="sentence" required></textarea>

        <label for="is_public">公開にする</label>
        <input type="checkbox" id="is_public" name="is_public">

        <button type="submit">作成する</button>

    </form>

{% endblock %}