{% extends "base.html" %}

{% load custom_filters %}

{% block title %}mypage{% endblock %}

{% block contents %}

<div class="mypage-list">
    <div class="left-list">
        <h1>お気に入りリスト</h1>
        {% for favorite in my_favorite_list %}
            <form method="post">
                {% csrf_token %}
                <li>
                    <a href="{% url "typingapp:typing" favorite.title.pk %}" title="{{ favorite.title }}">{{ favorite.title }}</a>
                    <input type="hidden" name="pk" value="{{ favorite.pk }}">
                    <button type="submit" class="favorite-delete-btn" name="action" value="del_favorite" title="お気に入り削除">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                        </svg>
                    </button>
                </li>
            </form>
        {% empty %}
            <p>お気に入りが登録されていません</p>
        {% endfor %}
    </div>

    <div class="center-list">
        <h1>タイピング履歴</h1>
        {% for history in my_history_list %}
            <li>
                <a href="{% url "typingapp:typing" history.title.pk %}" title="{{ history.title }}">{{ history.title }}</a>
                <span class="typing-time">{{ history.typing_time|format_duration }}</span>
            </li>
        {% empty %}
            <p>タイピング履歴が存在しません</p>
        {% endfor %}
    </div>

    <div class="right-list">
        <h1>作成した文章</h1>
        {% for content in my_content_list %}
            <form method="post">
                {% csrf_token %}
                <li>
                    <a href="{% url "typingapp:typing" content.pk %}" title="{{ content.title }}">{{ content.title }}</a>
                    <input type="hidden" name="pk" value="{{ content.pk }}">
                    <div class="create-content-btn">
                        <div id="public-button">
                        {% if content.is_public %}
                            <button type="button" disabled>公開</button>
                            <button type="submit" name="action" value="set_private" title="非公開にする">非公開</button>
                        {% else %}
                            <button type="submit" name="action" value="set_public" title="公開にする">公開</button>
                            <button type="button" disabled>非公開</button>
                        {% endif %}
                        </div>
                        <button type="submit" name="action" value="del_content" class="content-delete-btn" title="文章を削除">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                        </button>
                    </div>
                </li>
            </form>
        {% empty %}
            <p>作成した文章が存在しません</p>
        {% endfor %}
    </div>
</div>
    
{% endblock %}