{% extends "base.html" %}

{% block title %}typing-list{% endblock %}

{% block contents %}

<div id="search_info">
    <p>検索ワード : {{ request.GET.search }}
        <form method="get">
            <input type="hidden" name="category" value="{{ request.GET.category }}">
            <button name="search" value="">クリア</button>
        </form>
    </p>
</div>

<form method="get" id="category_form">
    {% csrf_token %}
    <input type="hidden" name="search" value="{{ request.GET.search }}">
    <label for="category">カテゴリー</label>
    <button type="submit" name="category" value="" selected>---------</button>
    {% for category in categories %}
        <button type="submit" name="category" value="{{ category.pk }}">{{ category.name }}</button>
    {% endfor %}
</form>

<ul class="list">
    {% for typing in typing_list %}
        <li><a href="{% url 'typingapp:typing' typing.pk %}">{{ typing.title|truncatechars:20 }}</a></li>
    {% endfor %}
</ul>

{% endblock %}