{% extends "base.html" %}

{% block title %}typing-list{% endblock %}

{% block contents %}

<div id="search_info">
    {% if request.GET.search %}
        <form method="get">
            <p>検索ワード : {{ request.GET.search }}
                <input type="hidden" name="category" value="{{ request.GET.category }}">
                <button name="search" value="">クリア</button>
            </p>
        </form>
    {% else %}
        <p>検索ワード : --------</p>
    {% endif %}
</div>

<form method="get" id="category_form">
    {% csrf_token %}
    <input type="hidden" name="search" value="{{ request.GET.search }}">
    <label for="category">カテゴリー : </label>
    {% if request.GET.category %}
        <button type="submit" name="category" value="" selected>--------</button>
    {% else %}
        <button type="submit" name="category" value="" style="background-color: skyblue" selected>--------</button>
    {% endif %}
    {% for category in categories %}
        {% if request.GET.category|add:"0" == category.pk %}
            <button type="submit" name="category" value="{{ category.pk }}" style="background-color: skyblue;">{{ category.name }}</button>
        {% else %}
            <button type="submit" name="category" value="{{ category.pk }}">{{ category.name }}</button>
        {% endif %}
    {% endfor %}
</form>

<ul class="list">
    {% for typing in typing_list %}
        <li><a href="{% url 'typingapp:typing' typing.pk %}">{{ typing.title|truncatechars:20 }}</a></li>
    {% endfor %}
</ul>

{% endblock %}