/*正誤判定用css*/
.correct { background-color: gray; }
.incorrect { background-color: red; }
#target-sentence { white-space: pre-wrap; display: inline-block; }

html {
    margin: 0;
    padding: 0
}

body {
    margin: 0 15%;
    padding: 0;
}

/* header */
header {
    background-color: gray;
    overflow: hidden;

    #site-title {
        padding: 2% 5%;
        font-weight: bold;
        font-size: 2.5rem;
        float: left;
        .menu {
            float: left;
        }
    }

    #user {
        text-align: right;
        margin: 0 10%;
        font-weight: bolder;
        font-size: 120%;
    }

    .menu {
        list-style: none;
        width: 100%;
        margin-top: 2%;
        padding: 0;
        text-align: center;
        font-size: large;
        li, form {
            display: inline;
            margin-right: 1%;
        }
        #search {
            margin: 0 5%;
            input{
                width: 20%;
                padding: 0.7% 0;
            }
            button {
                width: 5%;
                padding: 0.5% 0;
            }
        }
        #logout-button {
            background-color: gray;
            border: none;
            font-size: 20px;
        }
        a {
            text-decoration: none;
            font-size: 20px;
            color: black;
        }
        a, #logout-button {
            transition: color 0.3s ease, opacity 0.3s ease;
        }
        a:hover, #logout-button:hover {
            color: #3b3b3bdd;
            opacity: 0.8;
        }
    }
}